body{
    background: #000000;
}
img.logo{
    display: block;
    margin: auto;
    width: 50%;
    max-width: max-content;

}
main h2{
    color: white;
}

section img{
    width: 530px;
}
card p{
    color: black;
}